[project]
name = "forecasting"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = []
requires-python = ">=3.13"

dependencies = [
    "numpy>=2.3.5",
    "joblib==1.5.2",
    "pandas>=2.3.3",
    "scikit-learn>=1.7.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
