[project]
name = "forecasting"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = []
requires-python = ">=3.13"

dependencies = [
  "numpy>=1.24",
  "pandas>=2.0",
  "scikit-learn>=1.3",
  "joblib>=1.3",
]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
