# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Data artifacts
/ml/models/
/ml/data/*.joblib

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
