# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# ml trainee
/ml/trainee

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
.env
catboost_info/